@page "/group"

<h1>Group Classes</h1>

<p>Import File: @importFileName</p>
<button class="btn btn-primary" onclick="ImportData">Import</button>

@code {
    private string importFileName;

    private void ImportData()
    {

    }
}
